/* maps.css */

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.map {
  width: 67%;
  height: 60%;
  margin: 0 auto; /* center the map */
  border: 15px solid rgba(53, 52, 52, 0.731);
}

#map {
  width: 100%;
  height: 100%;
}

#pano {
  float: left;
  height: 100%;
  width: 100%;
}

.info-window {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 300px;
}

.info-window .info-window-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1px;
  color: #333333;
}

.info-window .info-window-img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  margin-top: 20px;
}

.info-window .save-location-link {
  color: #18465a;
  font-size: 14px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.info-window .info-window-details {
  margin-top: 10px;
}

.info-window .info-window-summary {
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  color: #666666;
  transition: color 0.3s ease;
}

.info-window .info-window-summary:focus {
  outline: none;
}

.info-window .info-window-summary:hover {
  color: #333333;
  text-decoration: underline;
}

.info-window .info-window-details p {
  margin-top: 5px;
  color: #666666;
}

.freesound-title {
  margin-top: 25px;
}

