/* styles.css */

body {
    font-family: 'Roboto', sans-serif;
    color: #363636;
    position: relative;
    overflow: hidden;
    background: #fff;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/static/PICS/san.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: saturate(90%);
    opacity: 0.7;  /* Adjusts the opacity, 0 is fully transparent and 1 is fully opaque */
    z-index: -1; 
}

.navbar {
    background-color: #ffffff;
    font-size: 18px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

.navbar-brand {
    font-family: 'Playfair Display', serif;
    color: #000000;
}

.navbar-nav .nav-link {
    color: #005a7d;
}

.navbar-nav .nav-link:hover {
    color: #fe5f55;
}

.login-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .login-heading {
    margin-bottom: 20px;
  }
  
  .login-form .form-group {
    margin-bottom: 20px;
  }
  
  .login-form .form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-btn {
    display: inline-block;
    background-color: #004B8D;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .signup-link {
    margin-top: 20px;
    text-align: center;
  }
  
  .signup-link a {
    color: #004B8D;
  }

  #pac-input {
    width: 50%; /* Adjust width to be smaller than container */
    margin: auto; /* Center horizontally */
  }
  
  #welcome-wrapper {
    width: 67%;
    background-color: rgba(128, 128, 128, 0);
    margin: 0 auto 30px; /* auto for horizontal centering, 30px for bottom margin */
    margin-top: 50px;
    text-align: center;
    padding: 20px;
}
