/* styles.css */

@font-face {
    font-family: 'ropabilly';
    src: url('/static/fonts/RopaBillyRegular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'marvel';
    src: url('/static/fonts/captain-marvel-font/Captainmarvel-anm9.ttf') format('truetype');
  }

  @font-face {
    font-family: 'geddes';
    src: url('/static/fonts/geddes-font/GeddesBold-D8dD.ttf') format('truetype');
  }

  @font-face {
    font-family: 'sky';
    src: url('/static/fonts/skyfont-font/Skyfont-x0Mq.otf') format('opentype');
  }


  @font-face {
    font-family: 'double';
    src: url('/static/fonts/double-diamond-font/DoubleDiamond-DOVz1.ttf') format('truetype');
  }

body {
    font-family: 'Montserrat', sans-serif;
    color: #363636;
    position: relative;
    overflow: hidden;
    background: #ffffff;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/static/PICS/san.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: saturate(80%);
    opacity: 0.4;  /* Adjusts the opacity, 0 is fully transparent and 1 is fully opaque */
    z-index: -1; 
}

.user-profile-body {
    background-image: url('/static/PICS/wall.jpg'); /* Replace with your desired background image path */
    background-repeat: no-repeat;
    background-size: cover;
    filter: saturate(90%);
    opacity: 1;
    z-index: -1;
  }

  .user-profile-body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: none;  /* Remove the background image */
    /* Add any additional styles for the user_profile background here */
}
  

.navbar {
    background-color: #ffffff;
    font-size: 18px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

.navbar-brand {
    font-family: 'marvel', sans-serif;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
}

.navbar-nav .nav-link {
    color: #005a7d;
}

.navbar-nav .nav-link:hover {
    color: #fe5f55;
}

.login-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .login-heading {
    margin-bottom: 20px;
  }
  
  .login-form .form-group {
    margin-bottom: 20px;
  }
  
  .login-form .form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-btn {
    display: inline-block;
    background-color: #004B8D;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .signup-link {
    margin-top: 20px;
    text-align: center;
  }
  
  .signup-link a {
    color: #004B8D;
  }

  #pac-input {
    width: 50%; /* Adjust width to be smaller than container */
    margin: auto; /* Center horizontally */
  }
  
  #welcome-wrapper {
    width: 67%;
    background-color: rgba(128, 128, 128, 0);
    margin: 0 auto 30px; /* auto for horizontal centering, 30px for bottom margin */
    margin-top: 50px;
    text-align: center;
    padding: 20px;
}

.title {
    margin-bottom: 20px; /* Add margin-bottom for spacing */
  }

.info-icon {
    position: relative;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    cursor: pointer;
  }
  
  .tooltip-text {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center; /* Center the text */
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: -150%; /* Place the tooltip above the icon */
    left: 50%;
    transform: translateX(-50%); /* Center the tooltip horizontally */
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .info-icon:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  

/* styles.css */

/* ... */

.container {
margin-top: 50px;
}

.profile-header {
text-align: center;
margin-bottom: 30px;
}

.profile-title {
font-size: 2.5em;
font-family: 'double', sans-serif;
font-weight: bold;
font-size: 80px;
color: #333;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.dropdown {
margin-bottom: 20px;
}

.carousel-inner {
object-fit: cover;
height: 100%;
}

.carousel-item {
    height: 500px; /* Adjust the height to your desired size */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.carousel-image {
    object-fit: cover;
    height: 100%; /* Adjust the height to your desired size */
    width: 100%;
}

.carousel-caption {
background-color: rgba(0, 0, 0, 0.5);
padding: 10px;
}

.carousel-title {
font-size: 1.5em;
color: #fff;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.carousel-control-prev,
.carousel-control-next {
width: 5%;
opacity: 0.7;
background-color: rgba(0, 0, 0, 0.5);
border: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
background-color: #fff;
border-radius: 50%;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
opacity: 1;
}

.visually-hidden {
position: absolute;
left: -9999px;
}

.dropdown-menu {
    border-radius: .1; /* Set border-radius to 0 for square edges */
}

.dropdown-menu .remove-button {
    color: #fff;
    background-color: #E42256;
    border-color: #E42256;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .dropdown-menu .remove-button:hover {
    background-color: #c11d4d;
    border-color: #c11d4d;
  }

  .location-item {
    display: flex;
    align-items: center;
  }
  
  .location-info {
    flex-grow: 1;
  }
  
  .remove-button-container {
    padding-left: 5px;
    padding-right: 10px;

  }
  
  .btn-secondary {
    border-radius: .1;
  }

  /* styles.css */

.flash-messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .flash-message {
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #f0f0f0;
    color: #333;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .flash-message.success {
    background-color: #c4e5c1;
    color: #377f51;
  }
  
  .flash-message.error {
    background-color: #f2b5b5;
    color: #d13939;
  }
  
  .flash-message.warning {
    background-color: #ffe4a1;
    color: #c98f0a;
  }
  
  .flash-message.info {
    background-color: #b5d8f2;
    color: #2a6496;
  }
  