<!-- homepage html -->

{% extends 'base.html' %}

{% block head %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<link rel="stylesheet" href="/static/CSS/maps.css" />
{% endblock %}

{% block body %}
<body data-google-key="{{ google_key }}"></body>

<div id="welcome-wrapper">
  <h3>Please enter a destination to begin your audial exploration:</h3>
  <input id="pac-input" class="controls" type="text" placeholder="Search Box" />
</div>

<section class="map">
  <div id="map"></div>
</section>

<script src="/static/globalechoes.js"></script>
<script async src="https://maps.googleapis.com/maps/api/js?key={{google_key}}&callback=initAutocomplete&libraries=places&v=weekly"></script>

<div id="street-view" style="width: 500px; height: 300px;"></div>

{% endblock %}
